[submodule "kitsec-core"]
	path = kitsec-core
	url = https://github.com/kitsec-labs/kitsec-core
[submodule "kitsec-website"]
	path = kitsec-website
	url = https://github.com/kitsec-labs/kitsec-website
